## API
`api is one kind of data pipeline whihe help to interact to different software and most of the time they share the data in JSON format.`

In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

os.environ["TMDB_API_KEY"]=os.getenv("TMDB_API_KEY")
tmdb_api_key = os.getenv("TMDB_API_KEY")

## Api link of data
`https://api.themoviedb.org/3/movie/top_rated?api_key=tmdb_api_key&page=1`

In [3]:
import pandas as pd
import requests

In [13]:
response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key={tmdb_api_key}&page=1')

In [26]:
temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

In [27]:
temp_df.head(5)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,173.453,8.708,27501
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,212.554,8.689,20865
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,91.475,8.571,12593
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,87.130,8.567,16026
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,51.076,8.500,8794

In [35]:
df = pd.DataFrame()  # Initialize an empty DataFrame

for i in range(1, 496):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key={tmdb_api_key}&page={i}')
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)  # Use pd.concat instead of append

In [38]:
df.sample(4)

,id,title,overview,release_date,popularity,vote_average,vote_count
5980,7873,Harsh Times,Jim Davis is an ex-Army Ranger who finds himse...,2005-09-11,29.746,6.44,696
6448,1096197,No Way Up,Characters from different backgrounds are thro...,2024-01-18,90.467,6.30,979
7895,9453,Caligula,After the death of the paranoid emperor Tiberi...,1979-08-14,41.518,6.00,849
5474,522938,Rambo: Last Blood,"After fighting his demons for decades, John Ra...",2019-09-19,51.679,6.50,3910

In [39]:
from datetime import datetime

# Generate filename with today's date
file_name = f"top_rated_movies_{datetime.today().strftime('%Y-%m-%d')}.csv"

# Save the DataFrame to a CSV file
df.to_csv(file_name, index=False)

print(f"DataFrame saved to {file_name}")

DataFrame saved to top_rated_movies_2025-01-15.csv

In [ ]:
import requests
import pandas as pd

# API details
url = "https://imdb236.p.rapidapi.com/imdb/upcoming-releases"
querystring = {"countryCode": "US", "type": "MOVIE"}
headers = {
    "x-rapidapi-key": "Your_api_key",  # Replace with your RapidAPI key
    "x-rapidapi-host": "imdb236.p.rapidapi.com"
}

# Send the request
response = requests.get(url, headers=headers, params=querystring)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()

    # Print the response to understand its structure
    import json
    print(json.dumps(data, indent=4))

    # Adjust the key based on the actual structure of the JSON
    if 'upcoming_releases' in data:  # Replace 'upcoming_releases' with the correct key
        df = pd.DataFrame(data['upcoming_releases'])[['title', 'release_date']]
        # print(df)
    else:
        print("The expected key was not found in the response.")
else:
    print(f"Failed to fetch data: {response.status_code}")

In [65]:
data['1']['titles']

[{'id': 'tt14260836',
  'url': 'https://www.imdb.com/title/tt14260836/',
  'title': 'Better Man',
  'startYear': 2024,
  'endYear': None,
  'ganre': ['Biography', 'Fantasy', 'Musical'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BYWU3YzU0NTItMGVlYi00YTFmLWE5MmQtNjg4ODQ3ZWYyNjRkXkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Robbie Williams',
   'Jonno Davies',
   'Steve Pemberton',
   'Alison Steadman']},
 {'id': 'tt4216984',
  'url': 'https://www.imdb.com/title/tt4216984/',
  'title': 'Wolf Man',
  'startYear': 2025,
  'endYear': None,
  'ganre': ['Horror'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BYmFkYTNhMWUtMjEyNy00MWE0LWJlYTQtMWFmNDUwNmFjMzAxXkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Julia Garner',
   'Christopher Abbott',
   'Sam Jaeger',
   'Matilda Firth']},
 {'id': 'tt28082769',
  'url': 'https://www.imdb.com/title/tt28082769/',
  'title': 'September 5',
  'startYear': 2024,
  'endYear': None,
  'ganre': ['Drama', 'History', 'Thriller'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BOWUxY2YyYzctYWY3Yi00ZGJjLTkzMDktZjYzMTIzZjNhNmM2XkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Peter Sarsgaard',
   'John Magaro',
   'Ben Chaplin',
   'Leonie Benesch']},
 {'id': 'tt32221196',
  'url': 'https://www.imdb.com/title/tt32221196/',
  'title': 'One of Them Days',
  'startYear': 2025,
  'endYear': None,
  'ganre': ['Comedy'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BNTc1YzFjZDQtZTViNC00MTY3LWFlMWUtZTExOGE5OTM0ZWFkXkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Keke Palmer',
   'SZA',
   'Vanessa Bell Calloway',
   'Lil Rel Howery']},
 {'id': 'tt14893438',
  'url': 'https://www.imdb.com/title/tt14893438/',
  'title': 'Wish You Were Here',
  'startYear': 2025,
  'endYear': None,
  'ganre': ['Romance'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BYTgyZDQ4ZDctYzA1My00MzNmLTk5NDctMzUzNjgyZmQwNmM0XkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Isabelle Fuhrman',
   'Mena Massoud',
   'Gabby Kono-Abdy',
   'Jimmie Fails']},
 {'id': 'tt28244549',
  'url': 'https://www.imdb.com/title/tt28244549/',
  'title': 'Grand Theft Hamlet',
  'startYear': 2024,
  'endYear': None,
  'ganre': ['Documentary'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BYTFmY2E0YzQtZTlmMC00NmNjLTg1MjUtY2NmNmZlNDgyMzM5XkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Sam Crane',
   'Mark Oosterveen',
   'Pinny Grylls',
   'Jen Cohn']},
 {'id': 'tt16740144',
  'url': 'https://www.imdb.com/title/tt16740144/',
  'title': 'Autumn and the Black Jaguar',
  'startYear': 2024,
  'endYear': None,
  'ganre': ['Adventure', 'Comedy', 'Family'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BNjczMjYzZDUtNDU0NS00NmY1LTg0ZjItZDNiYTRlMTVlYmYxXkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Emily Bett Rickards',
   'Lumi Pollack',
   'Wayne Charles Baker',
   'Paul Greene']},
 {'id': 'tt32206574',
  'url': 'https://www.imdb.com/title/tt32206574/',
  'title': 'And the Breadwinner Is',
  'startYear': 2024,
  'endYear': None,
  'ganre': ['Comedy', 'Drama', 'Family'],
  'primaryImage': 'https://m.media-amazon.com/images/M/MV5BMWZiNGNiMmItZWQ0Zi00NWY1LWIyNDEtMjQ2OGE2NjAzMTAzXkEyXkFqcGc@._V1_.jpg',
  'principalCredits': ['Vice Ganda',
   'Eugene Domingo',
   'Joel Torre',
   'Malou De Guzman']}]