## Official Docs
<a hrf="https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html">IterativeImputer official Docs<a>

In [2]:
import pandas as pd
import numpy as np

# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv("startupes.csv", usecols=['R&D Spend','Administration','Marketing Spend','Profit'])
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [5]:
X = df.drop(columns=['Profit'])
y = df['Profit']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=41)
X_train.shape, X_test.shape

((40, 3), (10, 3))

In [7]:
iim = IterativeImputer(max_iter=15)

X_train_trf = iim.fit_transform(X_train)
X_test_trf = iim.transform(X_test)

In [8]:
X_train_trf = pd.DataFrame(X_train_trf, columns=X_train.columns)
X_train_trf.head()

   R&D Spend  Administration  Marketing Spend
0    1000.23       124153.04          1903.93
1   65605.48       153032.06        107138.38
2  131876.90        99814.71        362861.36
3   61136.38       152701.92         88218.23
4   38558.51        82982.09        174999.30

In [11]:
X_test.isnull().mean()

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
dtype: float64